<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!--<link rel="import" href="../bower_components/polymerfire/firebase-app.html">-->
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<link rel="lazy-import" href="view-search.html">
<link rel="lazy-import" href="view-gif.html">
<link rel="lazy-import" href="view-favorites.html">
<link rel="lazy-import" href="view-about.html">
<link rel="lazy-import" href="view-notfound.html">

<dom-module id="nm-app">
  <template>
    <style>
      :host {
        --app-primary-color: #5E504D;
        --app-secondary-color: #222222;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      app-drawer {
        --app-drawer-scrim-background: rgba(34, 34, 34, 0.8);
        --app-drawer-content-container: {
          background-color: #DDDDDD;
        }
      }

      #sub-title {
        font-size: 10px;
        padding: 10px;
        margin-left: 50px;
      }
    </style>

    <!--<firebase-app-->
    <!--  project-id="nothingmuch-mcsnolte"-->
    <!--  auth-domain="nothingmuch-mcsnolte.firebaseapp.com"-->
    <!--  database-url="https://nothingmuch-mcsnolte.firebaseio.com"-->
    <!--  api-key="AIzaSyCgzkayQbbx9ZZIsL3rDqjE9-qw3IjcU5U"-->
    <!--  storage-bucket="nothingmuch-mcsnolte.appspot.com"-->
    <!--  messaging-sender-id="614156270485">-->
    <!--</firebase-app>-->

    <app-location
        route="{{route}}"
        use-hash-as-path>
    </app-location>

    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>
    <app-route route="{{route}}" pattern="/search" tail="{{searchTail}}" active="{{searchPageActive}}"></app-route>
    <app-route route="{{route}}" pattern="/gif" tail="{{gifTail}}"></app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="search" href="/#/search">Search</a>
          <a name="favorites" href="/#/favorites">Favorites</a>
          <a name="about" href="/#/about">About</a>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout>

				<app-header slot="header" condenses reveals effects="waterfall">
					<app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
						<h1 main-title>NothingMuch</h1>
					</app-toolbar>
				</app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="notfound"
            role="main">
          <view-search name="search" route="{{searchTail}}" active="{{searchPageActive}}"></view-search>
          <view-gif name="gif" route="{{gifTail}}" ></view-gif>
          <view-favorites name="favorites"></view-favorites>
          <view-about name="about"></view-about>
          <view-notfound name="notfound"></view-notfound>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class NmApp extends Polymer.Element {

      static get is() { return 'nm-app'; }

      static get properties() { return {

        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged',
        },

        route: Object,

        routeData: Object,

        searchTail: {
          type: Object,
          notify: true
        },

        gifTail: {
          type: Object,
          notify: true
        }
      }}

      static get observers() { return [
        '_routePageChanged(routeData.page)',
      ]}

      _routePageChanged(page) {
        if ( !page ) {
          window.location.href = '/#/search';
          return;
        }

        // If no page was found in the route data, page will be an empty string.
        // Default to 'search' in that case.
        this.page = page || 'search';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }

      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('view-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'notfound';
      }
    }

    customElements.define(NmApp.is, NmApp);

  </script>
</dom-module>
