<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="see-more">
  <template>
    <style include="shared-styles">
    </style>

		<iron-ajax auto
      url="{{_getWordNikURL(query)}}"
			handle-as="json"
      on-response="_didReceiveResponse"
      last-response="{{workNikData}}">
    </iron-ajax>

    <div class="card" hidden="{{!query}}">
      See more: <a href="{{_getSearchURL(query)}}">{{query}}</a>
      <template is="dom-repeat" items="{{wordNikSearches}}" as="item">
         &nbsp;<a href="{{item.url}}">{{item.word}}</a>
      </template>
    </div>
  </template>

  <script>

    class SeeMore extends Polymer.Element {

      static get is() { return 'see-more'; }

      static get properties() { return {

        apiKey: {
          type: String,
          value: "c0d814ec045e820b88007049c380e1ebfb0b260258fd92184" // my key
        },

        query: {
          type: String
        },

        wordNikSearches: {
          type: Array
        }

      }}

      _getSearchURL(q) {
        return '/#/search/' + encodeURIComponent(q);
      }

      _getWordNikURL(q) {
        if ( q === undefined ) {
          q = 'fun'; // a "fun" default
        }
        var first = q.split(/\W+/)[0];
        return "https://api.wordnik.com/v4/word.json/" +
          encodeURIComponent(first) + "/relatedWords" +
          "?useCanonical=false" +
          "&limitPerRelationshipType=10" +
          "&api_key=" + this.apiKey;
      }

      _didReceiveResponse(e) {
        var res = e.detail.response;
        if ( res && res[0] && res[0].words ) {
          var otherSearches = [];
          for ( var i = 0; i < res[0].words.length && i < 5; i++ ) {
            otherSearches.push(
              {
                url: '/#/search/' + encodeURIComponent(res[0].words[i]),
                word: res[0].words[i]
              }
            );
          }
          this.set('wordNikSearches', otherSearches);
        }
      }
    }

    customElements.define(SeeMore.is, SeeMore);

  </script>
</dom-module>
