<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/readable-filesize/readable-filesize.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="see-more.html">

<dom-module id="view-gif">

  <template>

    <style include="shared-styles">
    </style>

    <app-route
      route="{{route}}"
      pattern="/:id"
      data="{{routeData}}">
    </app-route>

		<iron-ajax auto
      url="{{_getAPIEndpoint(routeData)}}"
			handle-as="json"
      on-response="_didReceiveResponse"
      last-response="{{metadata}}"
      loading="{{loading}}">
    </iron-ajax>

    <see-more query="{{route.__queryParams.q}}"></see-more>

    <div class="card" hidden="{{loading}}">
      <h1>{{gifTitle}}</h1>

      <p>
				<paper-input label="Original GIF URL" readonly="true" value="{{gifOriginalURL}}"></paper-input>
      </p>

      <p>
        <a href="{{gifOriginalURL}}">
          <img style="max-width: 100%; display:block; height: auto;" src="{{metadata.data.images.downsized_large.url}}" />
        </a>
      </p>

      <p>
        <a href="{{metadata.data.url}}">Source</a> &nbsp;
        {{gifDimensions}} &nbsp;
        <readable-filesize bytes="{{gifBytes}}"></readable-filesize> &nbsp;
        Rating: {{gifRating}}
      </p>


    </div>

  </template>

  <script>
    class ViewGif extends Polymer.Element {

      static get is() { return 'view-gif'; }

      static get properties() { return {

          route: {
            type: Object
          },

          routeData: {
            type: Object
          },

          apiKey: {
            type: String,
            value: '3DOogro2T7iqMZd2iqMABOaHR0yiFFAQ'
          },

          gifTitle: {
            type: String
          },

          gifDimensions: {
            type: String
          },

          gifBytes: {
            type: Number
          },

          gifRating: {
            type: String
          },

          gifOriginalURL: {
            type: String
          }
      }}

      _getAPIEndpoint(data) {
        var url = 'https://api.giphy.com/v1/gifs/' +
          data.id + '?api_key=' + this.apiKey;
        return url;
      }

      _getSearchURL() {
        return '/#/search/' + encodeURIComponent(this.route.__queryParams.q);
      }

      _didReceiveResponse(e) {
        this.gifTitle = this.metadata.data.title || 'n/a';
        this.gifDimensions = this.metadata.data.images.original.width + ' x ' + this.metadata.data.images.original.height + ' px';
        this.gifBytes = this.metadata.data.images.original.size;
        this.gifRating = this.metadata.data.rating.toUpperCase();
        this.gifOriginalURL = this.metadata.data.images.original.url;
      }

    }

    customElements.define(ViewGif.is, ViewGif);

  </script>

</dom-module>
