<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="view-favorites">
  <template>
    <style include="shared-styles">
    </style>

    <div class="card">
      <h1>Favorites</h1>
      <p>TODO: Save and pull favorites the user selected from Firebase DB</p>
    </div>
  </template>

  <script>
    class ViewFavorites extends Polymer.Element {
      static get is() { return 'view-favorites'; }
    }
    customElements.define(ViewFavorites.is, ViewFavorites);
  </script>
</dom-module>
