<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/effects/waterfall.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">

<dom-module id="view-search">
	<template>
		<style>

			:host {
				display: block;
				@apply --paper-font-common-base;
			}

			iron-list {
				margin-top: 16px;
				padding-bottom: 16px;
			}

			.gifContent {
				@apply --layout;
				background-color: #ddd;
				position: relative;
				width: 300px;
				height: 300px;
				margin: 8px;
        cursor: pointer;
			}

			.gifContent:hover .detail{
				opacity: 1;
			}

			.gifContent > iron-image {
				@apply --layout-flex;
			}

			.gifContent > .detail {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
				color: white;
				font-size: 20px;
				font-weight: 100;
				padding: 20px;
				opacity: 0;
				transition: opacity 0.1s;
			}

			#searchInput {
				@apply --layout-flex;
				padding: 10px 20px;
				border: none;
				-webkit-appearance: none;
				border-radius: 0px;
			}

			.loadingIndicator {
				font-size: 16px;
				text-align: center;
				height: 60px;
			}

			.loadingIndicator paper-spinner {
				margin-right: 20px;
				vertical-align: middle;
			}

			@media (max-width: 800px) {
				.gifContainer {
					width: calc(50% - 16px);
				}

				.gifContent {
					width: auto;
				}
			}

			@media (max-width: 400px) {
				iron-list {
					margin-top: 16px;
				}

				.gifContainer {
					width: 100%;
				}

				.gifContent > .detail {
					opacity: 1;
				}
			}

		</style>

    <app-route
      route="{{route}}"
      pattern="/:searchText"
      data="{{routeData}}">
    </app-route>

		<iron-ajax id="ajax" loading="{{loadingGIFs}}" url="[[_getAPIEndpoint(page)]]"
				handle-as="text" on-response="_didReceiveResponse"></iron-ajax>

		<app-header fixed>
			<app-toolbar>
				<paper-input id="searchInput" tabindex="1" type="search" placeholder="Search for a GIF" value="{{searchText}}">
          <iron-icon icon="search" slot="prefix"></iron-icon>
        </paper-input>
			</app-toolbar>
		</app-header>

		<iron-list items="[[gifs]]" as="gif" scroll-target="document" grid>
			<template>
				<div class="gifContainer">
					<div class="gifContent" tabindex$="[[tabIndex]]">
            <iron-image sizing="cover"
              id="[[gif.id]]"
              on-click="_showGIFDetail"
              src="[[gif.images.preview_gif.url]]">
            </iron-image><a href="/gif/[[gif.id]]"></a>
            <div class="detail">[[gif.title]]</div>
					</div>
				</div>
			</template>
		</iron-list>

		<div class="loadingIndicator" hidden$="[[!loadingGIFs]]">
			<paper-spinner active$="[[loadingGIFs]]"></paper-spinner> Fetching GIFs for <b>[[searchText]]</b>
		</div>

		<!-- this element loads more gifs when the user scrolls down and reached the lower threshold -->
		<iron-scroll-threshold id="scrollTheshold"
			lower-threshold="500"
			on-lower-threshold="_onLowerThreshold"
			scroll-target="document">
		</iron-scroll-threshold>

	</template>

  <script>

    class ViewSearch extends Polymer.Element {
      static get is() { return 'view-search'; }

      static get properties() { return {

        route: {
          type: Object
        },

        routeData: {
          type: Object
        },

        searchText: {
          type: String,
          value: ''
        },

        active: {
          type: Boolean,
          observer: '_pageActivated'
        },

        apiKey: {
          type: String,
          value: '3DOogro2T7iqMZd2iqMABOaHR0yiFFAQ'
        },

        gifs: {
          type: Array,
          value: function() {
            return [];
          }
        },

        perPage: {
          type: Number,
          value: 25
        },

        page: {
          type: Number,
          value: 0 // but first page is 1
        },

        totalCount: {
          type: Number
        },

        rating: {
          type: String,
          value: 'G'
        },

        loadingGIFs: {
          type: Boolean,
          value: false
        }
      }}

      static get observers() { return [
        '_resetGIFs(searchText)',
      ] }

      _pageActivated() {
        if (this.routeData.searchText) {
          this.searchText = ""; // clear to ensure trigger for new value
          this.searchText = this.routeData.searchText;
        }
        this.$.searchInput.focus();
      }

      _offset(page) {
        return ( (page - 1) * this.perPage );
      }

      _getAPIEndpoint(page) {
        return 'https://api.giphy.com/v1/gifs/search?' +
          'api_key=' + this.apiKey +
          '&q=' + encodeURIComponent(this.searchText) +
          '&limit=' + this.perPage +
          '&offset=' + this._offset(page) +
          '&rating=' + this.rating +
          '&lang=en';
      }

      _didReceiveResponse(e) {
        var payload = JSON.parse(e.detail.response);

        if (!payload || !payload.meta || !payload.meta.status == 200 || !payload.data ) {
          return;
        }

        // Alphabetize GIFs by titles
        // but note that this won't be consistent because it does infinite scroll
        payload.data.sort(function(a, b){
          var _a = a.title.trim().toLowerCase();
          var _b = b.title.trim().toLowerCase();

          return (_a < _b) ? -1 : (_a > _b) ? 1 : 0;
        });

        payload.data.forEach(function(gif) {
          this.push('gifs', gif);
        }, this);

        this.$.scrollTheshold.clearTriggers();
      }

      _loadMoreGIFs() {
        if (this.$.ajax.lastRequest) {
          this.$.ajax.lastRequest.abort();
        }
        if (  this.active &&
              ( this.totalCount == undefined || this.totalCount > this._offset(this.page + 1) ) &&
              this.searchText !== '' ) {
          this.page++;
          this.$.ajax.generateRequest();
        }
      }

      _onLowerThreshold() {
        this._debouncer = Polymer.Debouncer.debounce(
          this._debouncer,
          Polymer.Async.timeOut.after(60),
          this._loadMoreGIFs.bind(this)
        );
      }

      _resetGIFs(searchText) {
        this.page = 0;
        this.totalCount = undefined;
        this.gifs = [];

        if (searchText.trim() !== '') {
          this._debouncer = Polymer.Debouncer.debounce(
            this._debouncer,
            Polymer.Async.timeOut.after(60),
            this._loadMoreGIFs.bind(this)
          );
        }
      }

      _showGIFDetail(e) {
        window.location.href = '?q=' + encodeURIComponent(this.searchText) + '#/gif/' + e.target.id;
      }

    }

    customElements.define(ViewSearch.is, ViewSearch);
  </script>

</dom-module>
