<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="view-notfound">
  <template>
    <style include="shared-styles">
    </style>

    <div class="card">
      Oops you hit a 404. <a href="/#/search">Search for something.</a>
    </div>
  </template>

  <script>
    class ViewNotfound extends Polymer.Element {
      static get is() { return 'view-notfound'; }
    }
    customElements.define(ViewNotfound.is, ViewNotfound);
  </script>
</dom-module>
