
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="view-about">
  <template>
    <style include="shared-styles">
    </style>

    <div class="card">
      <h1>Overview</h1>
      <p>
        A <a href="https://www.polymer-project.org/">Polymer</a> based app that allows quick search for a GIF. Uses the
        <a href="https://developers.giphy.com/explorer/">GIPHY</a> API to search for GIFs and the
        <a href="http://developer.wordnik.com/">WordNik</a> to suggest related searches.
        </p>
      <h1>Features</h1>
      <ul>
        <li>Instant search results</li>
        <li>Infinte scrolling</li>
        <li>Web app installable (i.e. homescreen) with cover icons</li>
        <li>Offline access via serviceworker (but not yet useful)</li>
      </ul>
      <h1>Todo</h1>
      <p>Did not get around to the following:</p>
      <ul>
        <li>Selecting and storing favorites in Firebase DB</li>
        <li>Offline access of favorites</li>
        <li>Decent unit tests</li>
      </ul>
      <h1>Repository</h1>
      <p>
        <a href="https://bitbucket.org/mcsnolte/nothingmuch">Bitbucket</a>
      </p>
      <h1>Author</h1>
      <p>Steve Nolte<br />
      <a href="mailto:iam@stevenolte.com">iam@stevenolte.com</a><br />
      <a href="tel://1-414-704-9333">414.704.9333</a></p>
    </div>
  </template>

  <script>
    class ViewAbout extends Polymer.Element {
      static get is() { return 'view-about'; }
    }
    customElements.define(ViewAbout.is, ViewAbout);
  </script>
</dom-module>
